@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Assignment 3</h1>
    <h2>Good Samaritan</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Login to get started.</h2>
        <p><a class="btn btn-default" href="/Account/login">Login</a></p>
    </div>
</div>