@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="reportsAPI">
    <div>
        <form ng-app="reportsAPI" ng-controller="generateReport" name="reportForm">
            
            <p>
                Month<br>
                <input type="text" ng-model="month">
            </p>

            <p>
                Day<br>
                <input type="text" ng-model="day">
            </p>

            <p>
                <input type="submit" value="Add Client" class="button success round" ng-click="genReport()">
            </p>
        </form>
    </div>

</div>