@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="reportsAPI">
    <div >
        <form ng-app="reportsAPI" ng-controller="getSmartEntities" name="addForm">
            <p>
                Fiscal Year<br>
                <select ng-model="defaultYear">
                    <option ng-repeat="year in years" value="{{year.Value}}">{{year.Value}}</option>
                </select>
            </p>
            
            <p>
                Month<br>
                <input type="text" name="desc" ng-model="month" required>
            </p>
            
            <p>
                City<br>
                <select ng-model="defaultCity">
                    <option ng-repeat="city in Cities" value="{{city.Value}}">{{city.Value}}</option>
                </select>
            </p>

            <p>
                <input type="submit" value="Add Client" class="button success round" ng-click="addBtn()">
            </p>
        </form>
    </div>
   
</div>